*.pptx
*.pyc
.idea/*
*/.idea/
.DS_Store
*/__pycache__/*

MOVILAN_data/
cross_modal/data/descriptions.json
cross_modal/prehash.npy
cross_modal/unet_weights.pth
mapper/nn_weights/
mapper/data/
language_understanding/alfred_model_1000_modification/
steps_to_run
mapper/dgl
mapper/ReadmeFateme
